<form [formGroup]="CustomerModel.formCustomerGroup">
  Customer Code :<input formControlName="CustomerCodeControl" [(ngModel)]="CustomerModel.CustomerCode"
    type="text" /><br />
  Customer Name :<input formControlName="CustomerNameControl" [(ngModel)]="CustomerModel.CustomerName"
    type="text" /><br />
  Customer Amount :<input [(ngModel)]="CustomerModel.CustomerAmount" type="text"
    [ngModelOptions]="{standalone: true}" /><br />
  <input [disabled]="!(CustomerModel.formCustomerGroup.valid)" (click)="Add()" type="button" value="Add" /><br />
</form>
<div *ngIf="CustomerModel.formCustomerGroup.dirty"
  [hidden]="!(CustomerModel.formCustomerGroup.controls['CustomerCodeControl'].hasError('pattern'))">Customer Code not in
  format</div>
<div *ngIf="CustomerModel.formCustomerGroup.dirty"
  [hidden]="!(CustomerModel.formCustomerGroup.controls['CustomerCodeControl'].hasError('required'))">Customer Code
  required</div>
<div *ngIf="CustomerModel.formCustomerGroup.dirty"
  [hidden]="!(CustomerModel.formCustomerGroup.controls['CustomerNameControl'].hasError('required'))">Customer Name
  required</div>

{{CustomerModel.CustomerCode}}<br />
{{CustomerModel.CustomerName}}<br />
{{CustomerModel.CustomerAmount}}<br />
<table>
  <tr>
    <th>Customer Code</th>
    <th>Customer Name</th>
    <th>Customer Amount</th>
  </tr>
  <tr *ngFor="let cust of CustomerModels">
    <td>{{cust.CustomerCode}}</td>
    <td>{{cust.CustomerName}}</td>
    <td>{{cust.CustomerAmount}}</td>
  </tr>
</table>